# Configuration file

####################
# brute
####################

brute {
    S:biomegroups <BRUTE_DEFAULT>
    B:canSpawn=true
    I:frequency=40
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# pyromaniac
####################

pyromaniac {
    S:biomegroups <PYROMANIAC_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=2
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# raider
####################

raider {
    S:biomegroups <RAIDER_DEFAULT>
    B:canSpawn=true
    I:frequency=80
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# ranger
####################

ranger {
    S:biomegroups <RANGER_DEFAULT>
    B:canSpawn=true
    I:frequency=30
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# rooster
####################

rooster {
    S:biomegroups <ROOSTER_DEFAULT>
    B:canSpawn=true
    I:frequency=10
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=2
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# tweaker
####################

tweaker {
    S:biomegroups <TWEAKER_DEFAULT>
    B:canSpawn=true
    I:frequency=10
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# witch
####################

witch {
    S:biomegroups <WITCH_DEFAULT>
    B:canSpawn=true
    I:frequency=4
    I:maxChunk=1
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


